.App {
  width: 700px;
  height: auto;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}
#content{
  width: 100%;
  max-height: 690px;
  overflow-y: auto;
  overflow-x: hidden;
}
#content::-webkit-scrollbar{
  width: 6px;
  background-color: #ffffff49;
  border-radius: 20px;
}
#content::-webkit-scrollbar-thumb{
  height: 6px;
  background-color: #ffffffbd;
  border-radius: 20px;
}
button{
  width: 675px;
  height: 60px;
  margin: 2px 15px;
  font-size: 30px;
  border-radius: 5px;
  transition: 300ms;
  outline: none;
  background: #ffffff49;
  color: #442c63;
  border: 2px solid #ffffff00;
  cursor: pointer;
  overflow: hidden;
}
button:hover{
  background: #ffffffbd;
  color: #2c4763;
  border-color: #ffffff00;
} 
ul{
  list-style-type: none;
  padding: 0;
  margin: 2px 15px;
  width: 670px;
  display: inline-block;
  transition: 300ms;
  border-radius: 5px;
  border: 2px solid #ffffff00;
  background: #ffffff49;
  font-size: 25px;
}
li{
  display: inline-block;
  width: 98%;
  height: auto;
  padding: 5px;
  transition: 300ms;
  color: #442c63;
  border-radius: 5px;
  cursor: default;
}
li:hover{
  background-color: #ffffffbd;
  color: #2c4763;
}
.fas{
  animation: load 1s linear infinite;
}
@keyframes load {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
span {
  font-size: 20px;
  text-decoration: underline;
  float: right;
  transition: 300ms;
  padding: 2px;
  border-radius: 5px;
  margin-top: 6px;
}
span:hover{
  color: #ffffffbd;
  background-color: #2c4763;
  cursor: pointer;
}
.info{
  position: absolute;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffe0;
  padding: 5px 15px;
  font-size: 30px;
  border-radius: 5px;
  color: #2c4763;
}